<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Youtube Playlist Diff Detecter</title>
  <link rel="icon" href="static/favicon.png">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="container">
    <h1>Youtube Playlist Diff Detecter</h1>
    {% block body %}{% endblock %}
  </div>
</body>
<aside>
  <h3>お問い合わせフォーム</h3>
</aside>
<footer>
  (c)Atsuki Nohira
</footer>
</html>